body{
	background-color: 	#FFFFFF;
}

.container{
	max-width:1140px;
	margin-left:auto;
	margin-right:auto;
}

.slideshow{
	position:;
	display:flex;
	flex-direction:column;
	justify-content: center;
	size:;
}

#mypic{
	width:100%;
}

.slide-back{
	position:absolute;
	left:40px;
}

.slide-next{
	position: absolute;
	right:40px;
}
